@import 'base';
.info {
    padding: 5px;
    border: $border-style;
    background: #fff;
    margin-bottom: 5px;
    @include border-radius(3px);
    .header {
        padding: 5px 2px;
        @include font-size($title-font-size);
        border-bottom: $border-style;
    }
    .content {
        padding: 5px;
    }
    h6 {
        margin: 5px 0;
        text-align: right;
    }
}
.filters {
    padding-right: 14px;
    .filter {
        position: relative;
        z-index: 1;
        float: right;
        margin: 2px;
    }
}
.button {
    cursor: pointer;
    cursor: hand;
    @include no-select;
    float: right;
}
.button:hover {
    color: #555;
}
.search {
    padding: 2px;
}

// .menu {
//     background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjQiIGhlaWdodD0iMTI0IiB2aWV3Qm94PSIwIDAgMTI0IDEyNCI+PHBhdGggZD0iTTExMiA2SDEyQzUuNCA2IDAgMTEuNCAwIDE4czUuNCAxMiAxMiAxMmgxMDBjNi42IDAgMTItNS40IDEyLTEycy01LjQtMTItMTItMTJ6TTExMiA1MEgxMkM1LjQgNTAgMCA1NS40IDAgNjJzNS40IDEyIDEyIDEyaDEwMGM2LjYgMCAxMi01LjQgMTItMTJzLTUuNC0xMi0xMi0xMnpNMTEyIDk0SDEyYy02LjYgMC0xMiA1LjQtMTIgMTJzNS40IDEyIDEyIDEyaDEwMGM2LjYgMCAxMi01LjQgMTItMTJzLTUuNC0xMi0xMi0xMnoiLz48L3N2Zz4=) no-repeat;
//     background-size: cover;
//     width: 1.5em;
//     height: 1.5em;
//     padding: 5px;
//     @include border-radius(3px);
// }
//
// .menu:hover {
//     background-color: #ccc;
// }
/* Utils */

/* Material Design Lite components */
.mdl-card {
    margin-bottom: 8px;
    h6 {
        margin: 5px;
        float: right;
        font-size: 12px;
    }
    .title {
        margin-top: 8px;
        margin-left: 8px;
    }
    .header {
        border-bottom: solid gray;
        border-top: solid rgba(255, 255, 255, 0);
        border-width: 2px 0 1px 0;
        margin: 2px;
    }
}
.map {
    position: absolute;
    left: 0;
    top: 0;
}

.right {
    right: 25px;
}

#dashboard {
    overflow-y: auto;
}
